In [46]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
daily_df = daily_df.groupby("Country_Region").sum().reset_index()
daily_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      59225    2598    52794.0
1               Albania     130736    2383   107163.0
2               Algeria     121344    3225    84598.0
3               Andorra      13121     124    12561.0
4                Angola      25942     587    23341.0
..                  ...        ...     ...        ...
187             Vietnam       2857      35     2516.0
188  West Bank and Gaza     293466    3201   267346.0
189               Yemen       6220    1207     2674.0
190              Zambia      91418    1249    89717.0
191            Zimbabwe      38164    1565    35480.0

[192 rows x 4 columns]