In [37]:
import pandas as pd


        
final_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
457  4/23/21  145640414  3086151   83763801
458  4/24/21  146461651  3099467   84340966
459  4/25/21  147189618  3109247   84878104
460  4/26/21  147872402  3120403   85565470
461  4/27/21  148716872  3134956   86246374

[462 rows x 4 columns]