In [17]:
import pandas as pd

df = pd.read_csv("data/time_confirmed.csv")
df = df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1).sum().reset_index(name="total")
df = df.rename(columns={"index":"date"})
df

        date      total
0    1/22/20        557
1    1/23/20        655
2    1/24/20        941
3    1/25/20       1433
4    1/26/20       2118
..       ...        ...
457  4/23/21  145640414
458  4/24/21  146461651
459  4/25/21  147189618
460  4/26/21  147872402
461  4/27/21  148716872

[462 rows x 2 columns]